<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- This is a template file! -->
<!-- Copy and paste it removing the .template extension and change it
     according to your local environment configuration -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:dbms://uri:port/database</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>

        <mapping class="com.github.polimi_mt_acg.back2school.model.Appointment"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Class"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Classroom"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Grade"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Lecture"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Notification"/>
                <mapping class="com.github.polimi_mt_acg.back2school.model.NotificationPersonalParent"/>
                <mapping class="com.github.polimi_mt_acg.back2school.model.NotificationPersonalTeacher"/>
                <mapping class="com.github.polimi_mt_acg.back2school.model.NotificationClassParent"/>
                <mapping class="com.github.polimi_mt_acg.back2school.model.NotificationClassTeacher"/>
                <mapping class="com.github.polimi_mt_acg.back2school.model.NotificationGeneral"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Payment"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.AuthenticationSession"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.Subject"/>
        <mapping class="com.github.polimi_mt_acg.back2school.model.User"/>
    </session-factory>
</hibernate-configuration>
